body{
    background-color: rgba(32, 107, 107, 0.337);
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    background-color: rgba(32, 107, 107, 0.337);
    font-family: Arial, Helvetica, sans-serif;
}

.titulo {color:white;
font-size: 40px;
}

.datos{
    color: black;
    font-size: 35px;
    font-style: unset;
    margin: auto;
    text-align: center;
    display: block;
    padding: 0px;
    list-style: none;
}

.foto{
    border-radius: 64px;
    border:solid 5px;
    margin: 30px;
    padding: 20px;
    margin: auto;
    display: block;
    padding: 0px;
     }
nav ul{
    display: flex;
    justify-content: space-around;
    list-style: none;

}